@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
#App {
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

h2 {
  font-weight: lighter;
  font-size: 2em;
  line-height: 0.8em;
  letter-spacing: 1px;
}

#App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 120px;
  @media (max-width: 900px) {
    flex-direction: column;
    margin-top: 0px;
    height: 200vh;
  }
}

.ticket {
  @include ticket;

  &-top {
    height: 50%;
    padding: 15px 25px 0px 25px;
    .ticket-banner {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }
    .flight-info {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      p {
        flex-grow: 1;
        min-width: 50%;
        height: 40px;
        padding: 2px 0px;
      }
      hr {
        border: $c4 1px solid;
        margin-top: 5px;
      }

      label {
        color: $c4;
      }
      .dot {
        position: absolute;
        transform: translate(280px, 3px);

        width: 12px;
        height: 12px;

        border-radius: 50%;
      }
      .info-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        .info-columns {
          display: flex;
          height: 80px;
          width: 100%;
          .col {
            width: 50%;
          }
          .col:first-child {
            margin-right: 10px;
          }
          .row {
            display: flex;
            justify-content: space-between;
            p {
              flex-grow: unset;
              min-width: calc(50% - 5px);
              width: 30px;
            }
          }
        }
      }
    }
    .flight-form {
      padding-top: 35px;
    }
  }
  &-bottom {
    display: flex;
    height: 50%;
    padding: 25px 20px 15px 20px;
    @include borderRadBottom;
    color: white;

    p {
      font-size: 0.7em;
      letter-spacing: 1px;
    }
    .bottom-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      text-align: center;
      .info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 60%;

        .down-arrow {
          height: 28px;
          width: 26px;

          clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 100%, 0 50%);
          background: $c3;
          &::after {
            content: "";
            position: absolute;
            margin-top: 2px;
            margin-left: -11px;
            height: calc(28px / 1.2);
            width: calc(26px / 1.2);
            clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 100%, 0 50%);
          }
        }
        .square {
          position: absolute;
          height: 10px;
          width: 10px;

          &.left {
            transform: translate(-62px);
            background: $c5;
            height: 12px;
            width: 12px;
          }
          &.bottom-left {
            transform: translate(-62px, 65px);
            outline: 1px solid white;
            &:after {
              content: "";
              position: absolute;
              border-top: 1px solid white;
              width: 14px;
              transform: rotate(45deg);
              transform-origin: -2px -6px;
            }
          }
          &.right {
            transform: translate(65px);
            outline: 1px solid white;
            &:after {
              content: "";
              position: absolute;
              border-top: 1px solid white;
              width: 14px;
              transform: rotate(45deg);
              transform-origin: -2px -6px;
            }
          }
        }
        .line {
          position: absolute;
          height: 2px;
          width: 10px;
          background: $c3;
          transform: translate(-62px, 50px);
        }
        .qr {
          margin-top: 10%;
          width: 80%;
        }
      }
      .btn-wrapper {
        height: 20%;
        .info-button {
          background: transparent;
          height: 40px;
          width: 40px;
          float: left;
          border-radius: 50%;
          border: 2px solid white;
          color: white;
        }
        .purchase-button {
          background: transparent;
          height: 40px;
          width: 100%;
          float: left;
          background: $c5;
          border: none;
          border-radius: 20px;
          font-family: $f1;
        }
      }
    }
    .bottom-col:first-child {
      margin-right: 10px;
    }
    .bottom-col:last-child .info-wrapper {
      background: $c3;
    }
  }

  &.Alpha {
    p,
    h1 {
      color: $c1;
    }
    .ticket-top {
      h1 {
        font-family: $f1;
      }
    }

    .ticket-bottom {
      background: $c1;

      color: $c3;
      p {
        color: $c3;
      }
    }
    .dot {
      background: $c5;
    }
    .down-arrow::after {
      background: $c1;
    }
    .purchase-button {
      color: $c1;
    }
  }

  &.OMEGA {
    p,
    h1 {
      color: $c2;
    }
    .ticket-top {
      h1 {
        font-family: $f3;
      }
    }

    .ticket-bottom {
      background: $c2;
      p {
        color: white;
      }
      .square.left {
        background: $c4;
      }
      .purchase-button {
        background: $c3;
        color: $c2;
      }
    }
    .dot {
      background: $c2;
    }
    .down-arrow::after {
      background: $c2;
    }
  }
}
